includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    ignoreErrors:
            - identifier: trait.unused
            -
                identifier: larastan.noEnvCallsOutsideOfConfig
                path: config/*
            - '#^Call to an undefined method Illuminate\\Http\\Client\\PendingRequest::withSignature\(\)\.$#'
            - '#^Call to an undefined method Illuminate\\Http\\Request::verifySignature\(\)\.$#'
    paths:
        - src
        - config

